h1.store-title {
  display: none;
}
.megamenu .h5 {
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  font-weight: var(--typeHeaderWeight);
  letter-spacing: var(--typeHeaderSpacing);
  line-height: var(--typeHeaderLineHeight);
}
.mega-menu_images {
  display: flex;
  justify-content: space-between;
}
.mega-menu_images div {
  flex: 0 1 16%;
}
#NavDrawer .drawer__scrollable {
  padding-top: 0;
}
#NavDrawer .drawer__header {
  height: 40px;
}
#NavDrawer .drawer__close-button.js-drawer-close {
  padding-right: 0;
}
.drawer-menu_images {
  display: flex;
  z-index: 99;
  margin-bottom: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 15px;
}
.drawer-menu_images > div {
  width: 49%;
  flex: 0 1 49%;
  margin-bottom: 2%;
}
.drawer-menu_images > div span {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}
.site-header__logo-link svg {
  max-width: 150px;
  width: 100%;
}
@media only screen and (max-width: 320px) {
  .site-header__logo-link svg {
    max-width: 100px;
  }
}
.mobile-nav__faux-link,
.mobile-nav__link.mobile-nav__link--top-level,
a.site-nav__link {
  letter-spacing: 0.05em;
  font-size: 12px;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .mobile-nav__faux-link,
  .mobile-nav__link.mobile-nav__link--top-level,
  a.site-nav__link {
    font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  }
}
.mobile-nav__child-item .mobile-nav__faux-link {
  font-family: var(--typeBasePrimary), var(--typeBaseFallback);
}
.header-layout.header-layout--left {
  position: relative;
}
@media only screen and (min-width: 769px) {
  .header-layout.header-layout--left {
    position: static;
  }
}
.site-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 768px) {
  .site-header__logo {
    margin: 0;
  }
}
@media only screen and (min-width: 769px) {
  .site-header__logo {
    transform: none;
    position: relative;
    left: 0;
  }
}
button.site-nav__link.site-nav__link--icon {
  position: absolute;
  left: 0;
}
@media only screen and (min-width: 769px) {
  button.site-nav__link.site-nav__link--icon {
    position: relative;
    left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .site-nav__link.site-nav__link--icon.site-nav__link--rewards {
    left: 40px;
    position: absolute;
  }
}
.rewards-icon path {
  stroke-width: 22px !important;
}
.announcement-link-text {
  display: inline-block;
  text-decoration: underline;
}
.announcement-link-text:after {
  content: none !important;
}
.marquee-announcement {
  background: linear-gradient(#ff639d, #ffb5ce);
  padding-top: 5px;
}
.marquee-announcement .marquee {
  width: 100%;
  overflow: hidden;
}
.marquee-announcement .marquee a,
.marquee-announcement .marquee pre,
.marquee-announcement .marquee span {
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  font-weight: var(--typeHeaderWeight);
  color: #fff;
  text-transform: uppercase;
}
.marquee-announcement .marquee pre {
  background: 0 0;
  margin: 0 !important;
  padding: 0 25px;
  -webkit-text-size-adjust: 100%;
}
.marquee-announcement .marquee div {
  animation: marquee-effect 60s linear infinite;
}
.marquee_div {
  display: flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: max-content;
}
@keyframes marquee-effect {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.drawer__header {
  border-bottom: 0;
}
button.btn.btn--full.cart__checkout {
  background: #75d670;
  border: 2px solid #000;
  color: #000;
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  font-weight: var(--typeHeaderWeight);
  letter-spacing: 0.1em;
  font-size: 15px;
}
button.btn.btn--full.cart__checkout:hover {
  background: #75d670 !important;
  opacity: 0.7;
}
.drawer__fixed-header {
  height: auto;
}
.drawer__threshold-title {
  font-size: 13px;
  margin-bottom: 5px;
}
.drawer__threshold {
  border: 1px solid #00000045;
  border-radius: 10px;
  overflow: hidden;
}
.drawer__threshold-inner {
  background: #f87bff;
  width: 50%;
  height: 10px;
}
@media only screen and (min-width: 769px) {
  .drawer__header {
    height: 80px;
  }
}
quadpay-widget {
  font-size: 12px;
}
.qp-widget-container {
  height: auto;
}
#qp-container,
.qp--align-center {
  display: flex;
  justify-content: flex-start;
}
.ajaxcart__note {
  margin-top: 10px;
}
#shopify-section-header-locked {
  padding: 20px;
}
#shopify-section-header-locked svg {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}
#CartDrawer .drawer__additional-product {
  position: absolute;
  background: #fff;
}
#CartDrawer .additional-product {
  border-top: solid 1px #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@media only screen and (max-width: 768px) {
  #CartDrawer .additional-product {
    padding: 15px;
  }
}
#CartDrawer .additional-product .selected-product {
  width: 30%;
  display: flex;
  justify-content: center;
}
#CartDrawer .additional-product .action-btn {
  width: 70%;
}
#CartDrawer .additional-product .action-btn .cart__upsell-question {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 5px;
}
#CartDrawer .additional-product .action-btn .actions {
  display: flex;
  justify-content: center;
}
#CartDrawer .additional-product .action-btn .actions a,
#CartDrawer .additional-product .action-btn .actions button {
  background: #000 !important;
  color: #fff;
  width: 115px;
  padding: 10px;
  margin: 5px;
  font-size: 12px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  #CartDrawer .additional-product .action-btn .actions a,
  #CartDrawer .additional-product .action-btn .actions button {
    font-size: 9px;
  }
}
#CartDrawer .drawer-container {
  height: 100%;
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.home-claims {
  background: linear-gradient(180deg, #fff, #f4bebd);
  padding: 50px 0;
  text-align: center;
}
@media only screen and (max-width: 580px) {
  .home-claims {
    text-align: left;
    padding: 30px 0 10px;
  }
}
.home-claims .section-header__title {
  margin-bottom: 60px;
  text-align: center;
}
@media only screen and (max-width: 580px) {
  .home-claims .section-header__title {
    margin-bottom: 30px;
  }
}
.home-claims .home-claims-cont {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .home-claims .home-claims-cont {
    flex-wrap: wrap;
  }
}
.home-claims .home-claims-cont > div {
  padding: 0 10px;
  flex: 1 0 25%;
}
.home-claims .home-claims-cont > div:last-of-type .svg-cont {
  position: relative;
}
.home-claims .home-claims-cont > div:last-of-type .svg-cont:after {
  content: "";
  width: 58px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 50%;
  overflow: hidden;
  top: 50%;
  display: block;
  transform: translateX(-50%) rotate(45deg);
}
@media only screen and (max-width: 580px) {
  .home-claims .home-claims-cont > div:last-of-type .svg-cont:after {
    width: 39px;
    height: 1px;
  }
}
@media only screen and (max-width: 768px) {
  .home-claims .home-claims-cont > div {
    flex: 1 0 50%;
  }
}
@media only screen and (max-width: 580px) {
  .home-claims .home-claims-cont > div {
    flex: 1 0 100%;
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
  }
}
.home-claims .home-claims-cont > div .svg-cont {
  border-radius: 50%;
  padding: 10px;
  border: 2px solid #000;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
}
@media only screen and (max-width: 580px) {
  .home-claims .home-claims-cont > div .svg-cont {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    margin-left: 0;
  }
}
.home-claims .home-claims-cont > div .svg-cont svg {
  height: 100%;
  width: 100%;
}
.home-claims .home-claims-cont > div h3 {
  font-size: 13px;
  margin: 20px 0 10px;
}
@media only screen and (max-width: 580px) {
  .home-claims .home-claims-cont > div h3 {
    margin: 0 0 5px;
  }
}
.pr-bar__section {
  color: #fff;
  background-image: linear-gradient(45deg, #cfc6fd, #fff1dc, #e9fdfb);
}
.pr-bar__section .section-header {
  margin-bottom: 20px;
}
.pr-bar__icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
}
.pr-bar__icon-container div {
  padding: 20px 10px;
  flex: 0 1 25%;
  display: flex;
  max-width: 110px;
}
.pr-bar__icon-container svg {
  filter: invert(1);
  width: 100%;
  max-height: 22px;
}
@media only screen and (min-width: 580px) {
  .pr-bar__icon-container div {
    max-width: 150px;
  }
}
@media only screen and (min-width: 769px) {
  .pr-bar__icon-container {
    flex-flow: unset;
  }
  .pr-bar__icon-container div {
    padding: 20px;
    flex: 0 1 10%;
    max-width: 120px;
  }
  .pr-bar__icon-container svg {
    max-height: 30px;
  }
}
.pr-bar__quote {
  text-align: center;
}
.collection-item--below .collection-item__title {
  margin-top: 0;
}
.collection-item--below .collection-item__title span {
  text-align: center;
  display: block;
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.collection-item--below .collection-image__cta {
  width: 100%;
  background: #000;
  color: #fff;
  display: block;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  padding: 10px 10px;
  font-size: 16px;
}
@media only screen and (min-width: 769px) {
  .collection-item--below .collection-image__cta {
    font-size: 20px;
    padding: 20px 10px;
  }
}
@media only screen and (min-width: 769px) {
  .home__collections {
    margin-top: 30px !important;
  }
}
.testimonials__custom {
  background-image: linear-gradient(45deg, #cfc6fd, #fff1dc, #e9fdfb);
}
.testimonials-slider {
  text-align: center;
  margin-bottom: 0;
}
.testimonials-slider svg {
  max-width: 120px;
  margin-bottom: 10px;
}
.testimonials-slider .slick-dots li button:before {
  background-color: #000 !important;
  background-color: #fff;
  opacity: 0.4;
}
.testimonials-slider .slick-dots li.slick-active button:before {
  opacity: 1;
}
.testimonials-wrapper {
  padding: 30px 0;
}
@media only screen and (min-width: 769px) {
  .testimonials-wrapper {
    padding: 60px 0;
  }
}
.testimonials-slider__text {
  margin: 0 15px 0 !important;
}
.image-wrap.text-spacing.testimonail-image {
  margin: 0 auto 20px;
  border-radius: 50%;
  max-width: 200px;
}
.author__handle {
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  font-weight: var(--typeHeaderWeight);
  display: block;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .grid-overflow-wrapper {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .fs-mobile .fs-timeline {
    display: flex !important;
    flex-wrap: wrap;
  }
  .fs-mobile .fs-timeline div {
    flex: 0 0 33.333%;
  }
  .fs-mobile .fs-timeline .fs-entry-container {
    width: 25%;
    padding-top: 33% !important;
  }
}
@media only screen and (max-width: 999px) {
  .bold-btn-cont {
    margin-top: 10px;
  }
}
.bold-btn {
  color: #000;
  font-weight: 700;
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  font-weight: var(--typeHeaderWeight);
  text-transform: uppercase;
  background: #f4bebd;
  padding: 10px;
  display: inline-block;
  line-height: 1em;
  padding-top: 13px;
  border: 3px solid #fff;
}
@media only screen and (max-width: 999px) {
  .bold-btn {
    width: 100%;
    margin: 10px 0;
    font-size: 13px;
  }
}
.bold-btn:first-of-type {
  margin-right: 5px;
}
.collection-claims-banner {
  background: linear-gradient(0deg, #fff, #f4bebd);
}
.collection-claims-banner .page-width {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .collection-claims-banner .page-width {
    flex-wrap: wrap;
  }
}
.collection-claims-banner .collection-claims-content {
  width: 50%;
  padding: 40px 0;
}
@media only screen and (max-width: 768px) {
  .collection-claims-banner .collection-claims-content {
    width: 100%;
    max-width: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .collection-claims-banner .collection-claims-content h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 580px) {
  .collection-claims-banner .collection-claims-content h1 {
    font-size: 30px;
  }
}
.collection-claims-banner .collection-claims-content p {
  margin-bottom: 40px;
}
.collection-claims-banner .collection-claims-content .hero__link {
  display: inline;
  margin-left: 10px;
}
.collection-claims-banner .collection-claims-content .hero__link svg {
  height: 15px;
  width: 15px;
}
.collection-claims-banner .collection-claims-img {
  width: 50%;
  align-self: flex-end;
}
@media only screen and (max-width: 768px) {
  .collection-claims-banner .collection-claims-img {
    width: 100%;
  }
}
.collection-claims-banner .collection-claims-img img {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
}
@media only screen and (max-width: 768px) {
  .collection-claims-banner .collection-claims-img img {
    margin: 0 auto;
  }
}
.collection-claims-banner .collection-claims-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}
.collection-claims-banner .collection-claims-grid > div {
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.collection-claims-banner .collection-claims-grid > div .svg-cont {
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #000;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.collection-claims-banner .collection-claims-grid > div .svg-cont svg {
  height: 100%;
  width: 100%;
}
.collection-claims-banner .collection-claims-grid > div h2 {
  font-size: 12px;
  margin: 0 15px 0 10px;
}
.collection-claims-banner.basic-banner .collection-claims-content {
  width: 100%;
  max-width: 100%;
  text-align: center;
}
.collection-claims-banner.no-img .collection-claims-info p {
  display: none;
}
@media only screen and (max-width: 999px) {
  .collection-claims-banner.no-img .collection-claims-content {
    padding: 40px 0 20px;
  }
  .collection-claims-banner.no-img .collection-claims-content {
    width: 100%;
  }
  .collection-claims-banner.no-img .collection-claims-grid {
    margin-bottom: 0;
  }
  .collection-claims-banner.no-img .collection-claims-grid > div {
    width: 100%;
    align-items: flex-start;
  }
  .collection-claims-banner.no-img .collection-claims-grid .svg-cont {
    flex-shrink: inherit;
    flex: 0 0 auto;
  }
  .collection-claims-banner.no-img
    .collection-claims-grid
    .collection-claims-info {
    margin: 0 15px 0 10px;
  }
  .collection-claims-banner.no-img
    .collection-claims-grid
    .collection-claims-info
    h3 {
    margin: 0 0 5px 0;
  }
  .collection-claims-banner.no-img
    .collection-claims-grid
    .collection-claims-info
    p {
    display: block;
    margin-bottom: 0 !important;
  }
  .collection-claims-banner.no-img img {
    display: none;
  }
}
.collection-tryon {
  padding: 30px 0;
  background: #000;
}
.collection-tryon .page-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 999px) {
  .collection-tryon .page-width {
    flex-wrap: wrap;
    text-align: center;
  }
}
.collection-tryon .page-width > div {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 999px) {
  .collection-tryon .page-width > div {
    width: 100%;
  }
}
@media only screen and (max-width: 999px) {
  .collection-tryon svg {
    width: 50px !important;
    height: 50px !important;
    flex: 0 0 auto;
  }
}
.collection-tryon h2 {
  color: #fff;
  font-size: 18px;
  margin: 3px 10px 0;
}
@media only screen and (max-width: 999px) {
  .collection-tryon h2 {
    text-align: left;
    margin: 14px 0 10px 10px;
    font-size: 20px;
  }
}
.collection__top--gradient {
  background-image: linear-gradient(45deg, #cfc6fd, #fff1dc, #e9fdfb);
}
.collection__top--gradient .page-content--top {
  padding-top: 40px;
  padding-bottom: 40px !important;
}
#FilterDrawer li.tag a,
.collection-sidebar li.tag a {
  text-transform: capitalize;
}
.collection-sidebar__group .collapsible-trigger-btn {
  text-align: left;
  font-weight: 700;
  letter-spacing: 0.2em;
}
.collection-header__video {
  text-align: center;
  padding: 20px;
}
.collection-video-overlay {
  background: #000;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0.2;
  z-index: 1;
}
.filter_submit_btn {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 9;
  padding-bottom: 10px;
}
.filter_submit_btn button {
  min-width: 48%;
  box-sizing: border-box;
  margin: 0 0 5px;
  letter-spacing: 0.1em;
  padding: 8px;
}
.collection-sidebar {
  position: relative;
}
#CartDrawer.drawer--is-open {
  z-index: 999;
}
.product__main-photos .grid-product__tag.grid-product__tag--sale {
  top: 10px;
  background: #e80000;
}
.product-subtitle {
  font-style: italic;
}
.product-single__meta hr {
  margin-bottom: 15px;
}
.product-single__meta fieldset.smartrr-purchase-options {
  background: #ffe7fb;
  padding: 10px 10px 5px;
  border: 1px solid #000;
}
.product-single__meta .smartrr-selling-plan-group-name {
  font-size: 14px;
}
.product-single__meta select.smartrr-selling-plans-select {
  width: 100%;
  border: 1px solid #000;
}
.product-single__meta .smartrr-selling-plan-group-contents {
  margin-left: 0 !important;
  margin-bottom: 5px;
  background: #fff;
}
.product-single__meta .add-to-cart {
  background: #75d670;
  border: 2px solid #000;
  color: #000;
  letter-spacing: 0.1em;
  font-size: 15px;
}
.product-single__meta .add-to-cart:hover {
  background: #75d670 !important;
  opacity: 0.7;
}
.product-single__meta .add-to-cart span {
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  font-weight: var(--typeHeaderWeight);
}
@media only screen and (max-width: 768px) {
  .product-single__meta .add-to-cart #qp-container {
    justify-content: center;
  }
}
.banana-statement .banana-qty-sentence {
  color: #da0404 !important;
}
.yotpo .yotpo-comment .yotpo-read-more,
.yotpo .yotpo-onsite-upload .yotpo-read-more,
.yotpo .yotpo-question .yotpo-read-more,
.yotpo .yotpo-review .yotpo-read-more {
  color: #005fd3 !important;
}
.yotpo
  .yotpo-review
  .yotpo-main
  .yotpo-review-images-wrapper
  .expandable-image-container
  .expandable-num {
  color: #fff !important;
  font-weight: 700;
  font-family: unset;
}
.yotpo-review-images-wrapper .expandable-image-container .expandable-image {
  opacity: 1 !important;
  filter: brightness(20%) !important;
}
.yotpo .yotpo-image-loader {
  font-size: 12px !important;
}
.product-reward-points {
  font-size: 12px !important;
}
.product-reward-points span strong {
  color: #d52492 !important;
}
.qp-modal__disclaimer {
  font-size: 12px !important;
}
.qp-modal__copyright {
  font-size: 12px !important;
}
button.label.collapsible-trigger.collapsible-trigger-btn.collapsible-trigger-btn--borders {
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  letter-spacing: 0.05em;
  font-size: 14px;
}
[data-center-text="true"] .collapsible-trigger-btn {
  text-align: left;
}
.shipping-accordion > .collapsible-content__inner {
  padding: 0 !important;
}
.product-single__form {
  margin-bottom: 10px;
}
.trust-claims {
  display: flex;
  flex-flow: wrap;
  padding: 0 0 20px;
}
@media only screen and (max-width: 768px) {
  .trust-claims {
    flex-flow: nowrap;
  }
}
.trust-claims div {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.1em;
  font-weight: 700;
  flex: 0 1 25%;
}
@media only screen and (min-width: 769px) {
  .trust-claims div {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
  }
}
.trust-claims span {
  display: block;
}
.trust-claims svg {
  flex: 0 0 auto;
  width: 100%;
  max-width: 50px;
  max-height: 30px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 769px) {
  .trust-claims svg {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
.product-claims__container {
  background-color: #fddce8;
}
.product-claims {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
.product-claims > div {
  display: flex;
  align-content: flex-start;
  flex: 0 1 33.33333%;
  text-align: left;
  padding: 30px 10px;
}
@media screen and (max-width: 1000px) {
  .product-claims > div {
    flex: 0 1 50%;
    padding: 20px 10px;
  }
}
@media screen and (max-width: 768px) {
  .product-claims > div {
    flex: 0 1 100%;
    padding: 20px 0;
  }
}
.product-claims > div div {
  flex: 0 1 auto;
  margin: 0 10px;
}
@media screen and (max-width: 415px) {
  .product-claims > div div {
    flex: 0 1 100%;
    margin: 0 0 0 15px;
  }
}
.product-claims h2 {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  font-weight: var(--typeHeaderWeight);
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0;
}
.product-claims p {
  font-size: 14px;
  margin: 0;
}
.product-claims svg {
  align-self: flex-start;
  max-width: 60px;
  background: #fff;
  border-radius: 50%;
  padding: 10px;
  flex: 1 0 100%;
  margin-bottom: 15px;
  border: 2px solid #000;
}
@media screen and (max-width: 415px) {
  .product-claims svg {
    max-width: 50px;
    padding: 7px;
  }
}
.lash-claims svg path {
  fill: black !important;
}
.product-compare .section-header {
  padding-top: 50px;
}
.product-compare__grid {
  display: flex;
  padding: 0 0 50px;
}
.product-compare__grid .product-compare__column {
  flex: 1 0 25%;
}
@media only screen and (max-width: 600px) {
  .product-compare__grid .product-compare__column {
    flex: 1 1 25%;
    max-width: 25%;
  }
}
.product-compare__grid .product-compare__column:first-of-type > div {
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 600px) {
  .product-compare__grid .product-compare__column:first-of-type > div {
    font-size: 8px;
  }
}
.product-compare__grid .product-compare__column:nth-of-type(2) {
  background: #ff7eae;
}
.product-compare__grid .product-compare__column:nth-of-type(3) {
  background: #e5e5e5;
}
.product-compare__grid .product-compare__column:nth-of-type(4) {
  background: #f5f5f5;
}
.product-compare__grid .product-compare__column > div {
  border: 3px solid #fff;
  border-left: 0;
  border-right: 0;
  min-height: 80px;
  text-align: center;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .product-compare__grid .product-compare__column > div {
    min-height: 50px;
  }
}
.product-compare__grid .product-compare__column > div:first-of-type {
  font-size: 14px;
  font-weight: var(--typeHeaderWeight);
  line-height: 1em;
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 600px) {
  .product-compare__grid .product-compare__column > div:first-of-type {
    font-size: 8px;
  }
}
@media only screen and (max-width: 600px) {
  .product-compare__grid .product-compare__column > div > div {
    font-size: 8px;
  }
}
.product-compare__grid .product-compare__column .glam-logo svg {
  width: 100%;
  max-width: 100px;
}
@media only screen and (max-width: 768px) {
  .product-compare__grid .product-compare__column img {
    max-width: 30px;
  }
}
.product-breakdown img {
  width: 100%;
}
.product-ugc {
  padding: 40px 0 0;
}
.yotpo .yotpo-modal-dialog,
.yotpo.yotpo-main-widget {
  width: 100% !important;
}
#RecentlyViewed-recently-viewed .grid-product__tag.grid-product__tag--sale {
  height: auto;
  width: auto;
  border-radius: 0;
  padding: 5px;
}
#RecentlyViewed-recently-viewed
  .grid-product__tag.grid-product__tag--sale
  span {
  margin-left: 3px;
}
.product-ugc_section {
  display: none;
}
.product-ugc_section {
  padding: 60px 0 0;
}
.product-ugc_section .product-ugc_title .section-header {
  margin-bottom: 30px;
}
.product-ugc_section .product-ugc_title p {
  max-width: 400px;
  margin: 0 auto;
}
.product-ugc_section .product-ugc_title .product-ugc_star {
  width: 150px;
  margin: 0 auto 20px;
}
.product-ugc_slider {
  overflow: hidden;
  padding: 30px 0;
}
.product-ugc_slider .slick-list {
  margin: 0 -5px;
}
.product-ugc_slider .slick-slide {
  margin: 0 5px;
}
.product-ugc_slider .slick-arrow {
  background: #eaeaea8c;
  bottom: 0;
  top: auto;
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 1140px) {
  .product-ugc_slider .slick-arrow {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 767px) {
  .product-ugc_slider .slick-arrow {
    width: 60px;
    height: 60px;
  }
}
.product-ugc_slider .slick-arrow:hover {
  background: #000;
}
.product-ugc_slider .slick-arrow:hover .icon {
  color: #fff;
}
.product-ugc_slider .slick-arrow .icon {
  width: auto;
  color: #000;
  height: 25px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .product-ugc_slider .slick-arrow .icon {
    height: 18px;
  }
}
.product-ugc_slider .slick-next.slick-arrow {
  right: 0;
  border-radius: 5px 0 0 5px;
}
.product-ugc_slider .slick-prev.slick-arrow {
  left: 0;
  border-radius: 0 5px 5px 0;
}
@media only screen and (max-width: 768px) {
  footer {
    padding: 10px;
  }
}
footer .footer__newsletter {
  display: flex;
  max-width: 100%;
}
footer .footer__newsletter-input {
  max-width: 100%;
}
footer .klaviyo-form-T7Cigk button,
footer form button {
  border-radius: 0 !important;
  font-family: var(--typeBasePrimary), var(--typeBaseFallback) !important;
  font-weight: var(--typeBaseWeight) !important;
  background: #fff !important;
  padding: 10px 20px !important;
  color: #000 !important;
  line-height: 1em;
  font-size: 14px !important;
  align-self: flex-end;
  width: 100px;
  flex-shrink: 0;
}
@media only screen and (max-width: 768px) {
  footer .h4.footer__title {
    margin: 10px auto;
  }
}
footer .ql-editor p > strong {
  color: #fff !important;
  text-align: left !important;
  font-size: 12px !important;
  height: auto !important;
}
footer .collapsible-trigger__icon {
  display: none;
}
footer label[for="phone_suscriber_terms_check"] {
  letter-spacing: 0;
  text-transform: none;
}
footer .phone_suscriber_submit {
  border-radius: 0 !important;
  font-family: var(--typeBasePrimary), var(--typeBaseFallback) !important;
  font-weight: var(--typeBaseWeight) !important;
  background: #fff !important;
  padding: 10px 20px !important;
  color: #000 !important;
  line-height: 1em;
  font-size: 14px !important;
  align-self: flex-end;
  width: 100px;
  flex-shrink: 0;
}
footer input.phone_suscriber_input {
  padding: 10px 45px 10px 0;
  background-color: #000;
  background-color: var(--colorFooter);
  color: #fff;
  color: var(--colorFooterText);
  max-width: 300px;
  width: 100%;
  border: 0;
  border-radius: 0;
  opacity: 1 !important;
}
footer input.phone_suscriber_input:-ms-input-placeholder,
footer input.phone_suscriber_input::-webkit-input-placeholder,
footer input.phone_suscriber_input::placeholder,
footer input.phone_suscriber_input:placeholder {
  color: #fff !important;
  opacity: 1 !important;
}
footer .phone_suscriber {
  border-bottom: 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}
footer .phone_suscriber_message {
  margin-bottom: 15px;
  color: green;
}
footer .error_message {
  color: red;
}
footer .phone_suscriber_terms {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  text-align: left;
}
footer .phone_suscriber_terms a {
  text-decoration: underline;
}
footer .phone_suscriber_terms label {
  margin: 0;
}
footer .phone_suscriber_terms input {
  margin-top: 4px;
}
footer #phone_suscriber_terms_check {
  margin: 0;
  min-width: 40px;
}
.klaviyo-form-T7Cigk {
  margin: 10px 0 10px;
  border-radius: 0 !important;
  border-bottom: 2px solid !important;
  border-bottom-color: #fff !important;
  border-bottom-color: var(--colorFooterText) !important;
}
.klaviyo-form-T7Cigk input[type="tel"],
.klaviyo-form-T7Cigk input[type="tel"]::placeholder {
  opacity: 1;
  font-family: var(--typeBasePrimary), var(--typeBaseFallback) !important;
  font-size: calc(var(--typeBaseSize) * 0.85) !important;
  letter-spacing: var(--typeBaseSpacing) !important;
}
.klaviyo-form-T7Cigk button {
  width: 100px;
  box-sizing: border-box;
}
.klaviyo-form-T7Cigk
  .PhoneNumberInputComponents__StyledPhoneInputContainer-sc-2pvkjx-2 {
  flex-flow: row-reverse !important;
}
.footer__title {
  font-weight: 700 !important;
}
.grid-product__title {
  position: relative;
  font-size: 14px !important;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
}
.grid-product__title:after {
  content: "";
  position: absolute;
  width: 25%;
  height: 100%;
  right: 0;
  background-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 5%,
    #fff 100%
  );
}
.grid-product__subtitle {
  margin-bottom: 5px;
  font-style: italic;
  font-weight: 100 !important;
  font-size: 13px;
}
@media only screen and (max-width: 450px) {
  .grid-product__subtitle {
    min-height: 38px;
  }
}
.grid-product__content .grid-product__type,
.grid-product__content .grid-product__type--new {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 1;
  background: #73c26e;
  padding: 0 10px;
  color: #fff;
}
.grid-product__content .grid-product__type--new {
  background: #000;
}
.grid-product__content label.variant__label {
  display: none;
}
.grid-product__content .variant-input-wrap {
  margin: 15px 0 0;
}
.grid-product__content .variant__button-label {
  margin-bottom: 0;
}
.grid-product__atc {
  margin-top: 10px;
}
.grid-product__atc fieldset.smartrr-purchase-options {
  background: #ffe7fb;
  padding: 10px 10px 5px;
  border: 1px solid #000;
}
.grid-product__atc select.smartrr-selling-plans-select {
  width: 100%;
  border: 1px solid #000;
  font-size: 14px;
}
.grid-product__atc .smartrr-selling-plan-group-contents {
  margin-left: 0 !important;
  margin-bottom: 5px;
  background: #fff;
}
.grid-product__atc button > span {
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 768px) {
  .grid-product__atc button > span {
    font-size: 10px;
  }
}
.grid-product__atc button {
  padding: 10px;
}
.grid-product__meta .yotpo-bottomline {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
}
.grid-product__meta .yotpo-bottomline .yotpo-stars {
  flex: 0 0 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.grid-product__meta .yotpo-bottomline .text-m {
  text-align: center;
  width: 100%;
  flex: 0 0 100%;
}
.grid-product__tag.grid-product__tag--sale {
  right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background: #ff2476;
  justify-content: center;
  padding: 0;
  text-align: center;
  font-weight: 700;
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  font-size: 12px;
}
.grid-product__price .money {
  font-size: 1.2em;
}
.sale-price {
  color: #e10e0e;
  font-weight: 700;
}
.upsell-form {
  margin-bottom: 10px;
}
button.upsell-btn.add-to-cart {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: #f2f2f2 !important;
  width: 100%;
  text-align: left;
}
button.upsell-btn.add-to-cart.btn--loading {
  filter: brightness(0.8);
  text-indent: 0 !important;
}
button.upsell-btn.add-to-cart img {
  margin-right: 10px;
  filter: brightness(0.95);
}
button.upsell-btn.add-to-cart span {
  color: #000;
}
button.upsell-btn.add-to-cart .upsell-title {
  display: block;
  margin-bottom: 10px;
}
button.upsell-btn.add-to-cart .upsell-cta {
  color: #fff !important;
  padding: 5px 20px;
  background: #000;
  margin-right: 10px;
}
.rewards__footer,
.rewards__hero {
  background-image: linear-gradient(45deg, #cfc6fd, #fff1dc, #e9fdfb);
  padding: 80px 0;
  text-align: center;
}
.rewards__footer h1,
.rewards__hero h1 {
  font-size: 1.3em;
}
@media only screen and (min-width: 769px) {
  .rewards__footer h1,
  .rewards__hero h1 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 769px) {
  .rewards__footer h2,
  .rewards__hero h2 {
    font-size: 3em;
  }
}
.rewards__footer .btn,
.rewards__hero .btn {
  display: block;
  max-width: 400px;
  margin: 0 auto 10px;
  letter-spacing: 0.1em;
}
.sign-up__btn {
  background: #fff;
  border: 2px solid #000;
  color: #000;
}
.lion-action-button {
  border-radius: 0;
  font-size: 16px;
}
.lion-reward-item__redeem-button--disabled {
  background: #eafbf7 !important;
  color: #000;
}
.rewards__pad {
  padding-bottom: 60px;
}
.rewards__title {
  margin-bottom: 20px;
}
.rewards__steps {
  text-align: center;
  padding: 60px 0;
}
.rewards__steps .rewards__steps--container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.rewards__steps .single-step {
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .rewards__steps .single-step {
    flex: 0 0 33%;
  }
}
.rewards__steps .single-step span {
  background: #fddce8;
  border: 2px solid #000;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  font-weight: var(--typeHeaderWeight);
  color: #000;
  margin: 0 auto 10px;
}
.rewards__rules {
  text-align: center;
  padding-bottom: 60px;
}
.rewards__prizes {
  text-align: center;
  padding: 60px 0;
  margin-bottom: 60px;
  background: #edfaf3;
}
.rewards__tiers {
  text-align: center;
}
.lion-reward-item__title,
.lion-rule-item__title,
.lion-tier-box__title {
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  font-weight: var(--typeHeaderWeight);
  font-size: 1rem !important;
}
.lion-reward-item,
.lion-rule-item {
  flex: 1 1 auto !important;
}
@media only screen and (min-width: 769px) {
  .lion-reward-item,
  .lion-rule-item {
    flex: 1 0 33% !important;
  }
}
.lion-reward-item__content,
.lion-rule-item__content {
  border: 2px solid #ff648e !important;
  border-radius: 0 !important;
}
.lion-tier-box {
  padding: 20px 10px 10px;
}
.lion-tier-box__title {
  font-size: 1.3rem !important;
  text-transform: uppercase;
}
.lion-tier-box__benefits-list {
  display: none;
}
.lion-tier-box__accent::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto 10px;
}
.lion-tier-box .lion-tier-benefits-list {
  margin: 0;
  padding: 10px 10px 20px 10px;
}
.rewards__chart {
  padding-bottom: 60px;
}
@media only screen and (max-width: 320px) {
  .rewards__chart {
    display: none;
  }
}
.rewards__chart .lion-tier-rewards-compare {
  padding: 10px;
}
.rewards__chart .lion-tier-rewards-compare td:first-child,
.rewards__chart .lion-tier-rewards-compare th:first-child {
  border-right: 2px solid #ff3e72;
}
.rewards__chart
  .lion-tier-rewards-compare
  .lion-tier-compare__header-cell:first-child {
  background: #fff;
}
.rewards__chart table {
  border: 2px solid #ff1154;
}
.rewards__chart td {
  background: 0 0;
}
.rewards__chart tr:nth-child(even) {
  background: #fff;
}
.rewards__chart tr:nth-child(odd) {
  background: #edfaf3;
}
td.lion-tier-rewards-compare__row-cell.lion-tier-rewards-compare__reward-title {
  max-width: 150px !important;
  text-align: left;
}
.rewards__signup-bar {
  z-index: 99;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f4bebd;
  text-align: center;
  padding: 15px;
}
.rewards__signup-bar a,
.rewards__signup-bar p {
  color: #000;
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.rewards__signup-bar a {
  padding: 8px 10px 5px;
  background: #000;
  margin-left: 10px;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .rewards__signup-bar a {
    display: block;
    margin-top: 5px;
  }
}
.lash__row {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.lash__title {
  flex: 1 0 20%;
}
@media only screen and (max-width: 768px) {
  .lash__title {
    flex: 1 0 20%;
  }
  .lash__title h3 {
    font-size: 9px;
  }
  .lash__title p {
    font-size: 10px;
  }
}
.lash__img {
  flex: 0 1 25%;
  padding: 0 20px;
}
@media only screen and (max-width: 768px) {
  .lash__img {
    flex: 1 0 20%;
    padding: 0 0;
  }
}
.lash__img img {
  width: 100%;
}
.lash__desc {
  flex: 1 0 25%;
}
@media only screen and (max-width: 768px) {
  .lash__desc {
    padding-left: 10px;
  }
  .lash__desc p {
    font-size: 8px;
  }
}
.lash__row--title {
  padding: 0 0 20px;
  margin-bottom: 20px;
}
.lash__row--title h2 {
  margin-bottom: 0;
}
.lash-guide {
  position: relative;
  display: flex;
}
.lash-guide .lash-arrow {
  flex: 0 0 30px;
  margin-left: 15px;
  align-self: center;
  display: none;
}
@media only screen and (min-width: 769px) {
  .lash-guide .lash-arrow {
    display: block;
    justify-self: center;
    flex: 0 1 50px;
    margin-left: 15px;
  }
}
.rewards__faq {
  text-align: center;
  margin-bottom: 60px;
}
.rewards__faq .grid {
  padding: 30px 0;
}
.rewards__faq .grid h3 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-family: var(--typeBasePrimary);
  font-weight: 700;
  line-height: 1.6;
}
h1.sm_center {
  display: none;
}
form#ola_lookupForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}
.video-banner-section .video-banner {
  text-align: center;
  padding: 40px 0 20px;
  background: #ffeef3;
}
.video-banner-section .video-banner br {
  display: none;
}
@media only screen and (max-width: 768px) {
  .video-banner-section .video-banner br {
    display: block;
  }
}
.video-banner-section .video-banner .video-banner__title {
  margin-bottom: 15px;
}
.video-banner-section .video-banner .video-banner__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.video-banner-section .video-banner .video-banner__items.mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .video-banner-section .video-banner .video-banner__items.mobile {
    display: block;
  }
}
.video-banner-section
  .video-banner
  .video-banner__items.mobile
  .video-banner__item-title
  h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.video-banner-section
  .video-banner
  .video-banner__items.mobile
  .video-banner__item-title
  h3
  span {
  display: inline-flex;
}
.video-banner-section
  .video-banner
  .video-banner__items.mobile
  .video-banner__item-title
  h3
  img {
  display: inline-flex;
  margin: unset;
}
.video-banner-section
  .video-banner
  .video-banner__items.mobile
  .video-banner__item-video
  video {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .video-banner-section .video-banner .video-banner__items.desktop {
    display: none;
  }
}
.video-banner-section
  .video-banner
  .video-banner__items.desktop
  .video-banner__item-video
  video {
  width: 100%;
}
.video-banner-section .video-banner .video-banner__items .video-banner__item {
  flex: 0 0 32%;
  text-align: center;
}
.video-banner-section
  .video-banner
  .video-banner__items
  .video-banner__item
  .video-banner__item-title
  img {
  display: flex;
  margin: auto;
  margin-bottom: 15px;
}
.video-banner-section .video-banner h3.bottom-title {
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  .video-banner-section .video-banner h3.bottom-title {
    font-size: 14px;
  }
}
.about-tile {
  background: linear-gradient(0deg, #fff, #f4bebd);
}
.about-tile .page-width {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .about-tile .page-width {
    flex-wrap: wrap;
  }
}
.about-tile .about-tile-content {
  width: 50%;
  padding: 40px 0;
}
@media only screen and (max-width: 768px) {
  .about-tile .about-tile-content {
    width: 100%;
    max-width: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .about-tile .about-tile-content h1 {
    font-size: 40px;
  }
}
.about-tile .about-tile-content p {
  margin-bottom: 40px;
}
.about-tile .about-tile-content .hero__link {
  display: inline;
  margin-left: 10px;
}
.about-tile .about-tile-content .hero__link svg {
  height: 15px;
  width: 15px;
}
.about-tile .about-tile-img {
  width: 50%;
  align-self: flex-end;
}
@media only screen and (max-width: 768px) {
  .about-tile .about-tile-img {
    width: 100%;
  }
}
.about-tile .about-tile-img img {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
}
@media only screen and (max-width: 768px) {
  .about-tile .about-tile-img img {
    margin: 0 auto;
  }
}
.about-solid-tile {
  background: #000;
  color: #fff;
}
.about-solid-tile .about-solid-tile__grid {
  display: flex;
  align-items: center;
}
.about-solid-tile .about-solid-tile__grid.reverse-grid {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 999px) {
  .about-solid-tile .about-solid-tile__grid {
    flex-wrap: wrap;
  }
}
.about-solid-tile .about-solid-tile__grid .about-solid-tile__img {
  flex: 1 0 600px;
}
@media only screen and (max-width: 999px) {
  .about-solid-tile .about-solid-tile__grid .about-solid-tile__img {
    max-width: 100%;
  }
}
.about-solid-tile .about-solid-tile__grid .about-solid-tile__content {
  flex: 1 1 100%;
}
@media only screen and (max-width: 999px) {
  .about-solid-tile .about-solid-tile__grid .about-solid-tile__content {
    padding: 60px 0;
  }
}
.about-solid-tile
  .about-solid-tile__grid
  .about-solid-tile__content
  .about-solid-txt-cont {
  padding: 20px 30px;
  max-width: 600px;
  margin: 0 auto;
}
.about-txt-block {
  padding: 60px 0;
  text-align: center;
}
.about-txt-block-cont {
  max-width: 800px;
  margin: 0 auto;
}
.about-img-row {
  display: flex;
}
@media only screen and (max-width: 580px) {
  .about-img-row {
    flex-wrap: wrap;
  }
}
.about-img-row img {
  flex: 1 1 20%;
  width: 20%;
}
@media only screen and (max-width: 580px) {
  .about-img-row img {
    flex: 1 1 50%;
    width: 50%;
  }
  .about-img-row img:last-of-type {
    display: none;
  }
}
.about-img-row-wtext {
  background: linear-gradient(180deg, #fff, #f4bebd);
  padding: 60px 0;
  text-align: center;
  color: #000;
}
.about-img-row-wtext.revpink {
  background: linear-gradient(0deg, #fff, #f4bebd);
}
.about-img-row-wtext p {
  margin-bottom: 30px;
}
.about-img-row-wtext img {
  padding: 5px;
}
.page__banner {
  padding: 90px 0;
  background-size: cover !important;
  background-position: top left !important;
}
.page__banner .page__banner--inner {
  text-align: center;
}
.page__banner .page__banner--inner h1 {
  margin: 0 auto;
  padding: 0 20px;
}
.tile-section {
  background: linear-gradient(0deg, #fff, #f4bebd);
}
.tile-section .page-width {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .tile-section .page-width {
    flex-wrap: wrap;
  }
}
.tile-section .tile-content {
  width: 50%;
  padding: 40px 0;
}
@media only screen and (max-width: 768px) {
  .tile-section .tile-content {
    width: 100%;
    max-width: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .tile-section .tile-content h1 {
    font-size: 40px;
  }
}
.tile-section .tile-content p {
  margin-bottom: 40px;
}
.tile-section .tile-content .hero__link {
  display: inline;
  margin-left: 10px;
}
.tile-section .tile-content .hero__link svg {
  height: 15px;
  width: 15px;
}
.tile-section .tile-img {
  width: 50%;
  align-self: flex-end;
}
@media only screen and (max-width: 768px) {
  .tile-section .tile-img {
    width: 100%;
  }
}
.tile-section .tile-img img {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
}
@media only screen and (max-width: 768px) {
  .tile-section .tile-img img {
    margin: 0 auto;
  }
}
.solid-tile-section {
  background: #000;
  color: #fff;
}
.solid-tile-section .solid-tile__grid {
  display: flex;
  align-items: center;
}
.solid-tile-section .solid-tile__grid.reverse-grid {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 999px) {
  .solid-tile-section .solid-tile__grid {
    flex-wrap: wrap;
  }
}
.solid-tile-section .solid-tile__grid .solid-tile__img {
  flex: 1 0 600px;
}
@media only screen and (max-width: 999px) {
  .solid-tile-section .solid-tile__grid .solid-tile__img {
    max-width: 300px;
    margin: 0 auto;
  }
}
.solid-tile-section .solid-tile__grid .solid-tile__content {
  flex: 1 1 100%;
}
@media only screen and (max-width: 999px) {
  .solid-tile-section .solid-tile__grid .solid-tile__content {
    padding: 30px 0 0;
  }
}
.solid-tile-section .solid-tile__grid .solid-tile__content .solid-txt-cont {
  padding: 10px 30px 20px;
  max-width: 600px;
  margin: 0 auto;
}
.solid-tile-section .solid-tile__grid .bold-btn {
  text-align: center;
}
.nail-claims .svg-cont:after {
  content: none !important;
}
.ugc-section {
  padding: 60px 0;
}
.ugc-section .section-header__title {
  text-align: center;
  margin-bottom: 40px;
}
@media only screen and (max-width: 999px) {
  .ugc-section .section-header__title {
    margin-bottom: 10px;
  }
}
.ugc-section .ugc-slider {
  margin-bottom: 0;
}
.ugc-section .ugc-slider button:before {
  font-size: 23px;
}
.ugc-section img {
  padding: 10px;
}
.nail-how-to .video-banner {
  background: #fddce8;
}
#shopify-section-nails-product-compare {
  background: #000;
}
.nails-compare {
  color: #fff;
}
.nails-compare .product-compare__column > div {
  border: 3px solid #000;
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .nails-compare .product-compare__column > div {
    font-size: 10px !important;
  }
}
.nails-compare .product-compare__column > div > div {
  color: #000;
}
@media screen and (max-width: 600px) {
  .nails-compare .product-compare__column > div > div {
    font-size: 10px !important;
  }
}
#shopify-section-nails-faq {
  text-align: center;
}
#shopify-section-nails-faq h2 {
  text-align: center !important;
}
span#ProductPrice-nails-lander-featured-product {
  color: #c10000;
  font-weight: 700;
  font-size: 20px;
}
#CollectionSection-nails-lander-featured-collection .grid-product__subtitle {
  min-height: auto;
}
#CollectionSection-nails-lander-featured-collection .yotpo.bottomLine {
  display: none !important;
}
.nails-reviews
  .bottom-line-items-container
  .reviews-qa-labels-container
  .reviews-qa-label,
.nails-reviews .reviews-header {
  display: none;
}
.lash-types {
  text-align: center;
  padding: 30px 0;
}
.lash-types .lash-type-grid {
  display: flex;
}
.lash-types .lash-type-grid > div {
  border: 10px solid #000;
  padding: 10px 10px 0 10px;
  margin: 10px;
  background: linear-gradient(0deg, #fff, #f4bebd);
}
.lash-types .lash-type-grid > div span {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  display: block;
  font-weight: 700;
}
.lash-type-title .page-width {
  display: flex;
  align-items: center;
  background: #000;
  padding-top: 10px;
  padding-bottom: 5px;
}
.lash-type-title .page-width .lash-type-title__img {
  flex: 0 1 100px;
  margin-right: 10px;
}
.lash-type-title .page-width .lash-type-title__img img {
  background: linear-gradient(0deg, #fff, #f4bebd);
  border-radius: 50%;
  padding: 10px;
}
.lash-type-title .page-width .lash-type-title__content {
  color: #fff;
}
.lash-type-title .page-width .lash-type-title__content h2 {
  margin-bottom: 0;
}
.smartrr-purchase-options {
  text-align: left;
}
label.smartrr-selling-plan-group-label {
  letter-spacing: 0;
  text-transform: capitalize;
}
.subscription-tile-section {
  background: #fff;
  color: #000;
  border-bottom: 10px solid #f4bfbe;
}
@media screen and (max-width: 768px) {
  .subscription-tile-section {
    text-align: center;
    color: #fff;
    background: #000;
    border: none;
  }
  .subscription-tile-section img.lazyautosizes.lazyloaded {
    display: none;
  }
}
.subscription-tile-section .solid-txt-cont img {
  filter: invert(1);
}
@media screen and (max-width: 768px) {
  .subscription-tile-section .solid-txt-cont img {
    filter: none;
  }
}
.subscription-perks {
  padding: 60px 0;
}
@media screen and (max-width: 768px) {
  .subscription-perks {
    padding: 30px 0;
  }
}
.subscription-perks h2 {
  margin-bottom: 30px;
}
.subscription-perks .subscription-perk__img {
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .subscription-perks .subscription-perk__img {
    padding-right: 0;
    margin-bottom: 30px;
  }
}
.subscription-perks .subscription-perk__img img {
  border-radius: 10px;
  box-shadow: 1px 14px 13px #00000012;
  border: 2px solid #000;
}
.subscription-perks .grid {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .subscription-perks .grid {
    display: block;
  }
}
.benefit-item {
  display: flex;
  margin-bottom: 10px;
}
.benefit-item h3 {
  font-size: 15px;
  margin-bottom: 10px;
}
.benefit-item > img {
  flex: 0 1 auto;
  max-width: 35px;
  align-self: flex-start;
  padding: 0 5px;
  margin-right: 10px;
}
.subscription-steps {
  text-align: center;
  padding: 60px 0;
}
@media screen and (max-width: 768px) {
  .subscription-steps {
    padding: 30px 0;
  }
}
.subscription-steps .subscription-step__card {
  background: linear-gradient(0deg, #fff, #f4bebd);
  border-radius: 10px;
  padding: 30px 10px;
  box-shadow: 1px 14px 13px #00000012;
  min-height: 300px;
  border: 2px solid #000;
}
@media screen and (max-width: 768px) {
  .subscription-steps .subscription-step__card {
    padding: 20px 10px;
    min-height: 200px;
    max-width: 400px;
    border: 2px solid #000;
    margin: 0 auto 20px;
  }
}
.subscription-steps h2 {
  margin-bottom: 30px;
}
.subscription-steps span {
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  padding: 10px;
  border: 2px solid #000;
  background: #ff7eae;
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #fff;
  margin-bottom: 20px;
}
.subscription-featured-collection button {
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .subscription-ugc {
    padding: 30px 0;
  }
}
.subscription-ugc .about-img-row div {
  padding: 5px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .subscription-ugc .about-img-row div {
    flex: 0 0 50%;
    width: 50%;
  }
  .subscription-ugc .about-img-row div:last-of-type {
    display: none;
  }
}
.subscription-ugc img {
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 0 14px #0000004a;
  width: 100%;
}
.subscription-ugc img:last-of-type {
  display: block;
}
.subscription-questions {
  padding: 60px 0;
  text-align: center;
  background: #f4bebd;
}
@media screen and (max-width: 768px) {
  .subscription-questions {
    padding: 30px 0;
  }
}
.subscription-questions .subscription-question__card {
  background: #fff;
  padding: 30px 10px;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #000;
  border-radius: 10px;
  min-height: 200px;
}
@media screen and (max-width: 768px) {
  .subscription-questions .subscription-question__card {
    min-height: 100px;
    margin-bottom: 20px;
  }
}
.subscription-questions .subscription-question__card h3 {
  font-size: 15px;
}
.subscription-questions .subscription-question__card a {
  border-radius: 5px;
}
#chat-button {
  bottom: 0 !important;
}
@media screen and (max-width: 768px) {
  #chat-button {
    bottom: -10px !important;
    right: 10px;
  }
}
#gorgias-chat-container {
  z-index: 999 !important;
}
.acsb-trigger {
  z-index: 99 !important;
}
div[data-element="oct-quiz-text oct-quiz-title"] {
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback) !important;
}
div#shopify-section-16085875663e85f835 {
  background: #fddce8;
  padding: 60px 0;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  div#shopify-section-16085875663e85f835 {
    padding: 30px 0;
  }
}
.sezzle-shopify-info-button {
  display: none !important;
}
.valentiens-icon {
  max-width: 60px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  transform: rotate(-30deg);
}
div.variant__label[for] {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 0.75em;
}
ul.apply-list {
  list-style-type: decimal;
}
ul.apply-list li {
  margin-bottom: 25px;
}
ul.apply-list li::marker {
  font-weight: 600;
}
.rs_terms_section .h4 {
  font-family: Sweetsans, "Avenir Next";
  font-weight: 700;
}
.yotpo .yotpo-reviews .yotpo-default-button {
  color: #fff !important;
}
.collection__promo-banner img {
  width: 100%;
}
